<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analayzing Your text...</title>
</head>
</head>
<body>
<p>
    <h1>Your analayzed Text - {{purpose1}}</h1>
    {{analayzed_text1}}
    <h1>Your analayzed Text - {{purpose2}}</h1>
    {{analayzed_text2}}
    <h1>Your analayzed Text - {{purpose3}}</h1>
    {{analayzed_text3}}
    <h1>Your analayzed Text - {{purpose4}}</h1>
    {{analayzed_text4}}
    <h1>Your analayzed Text - {{purpose5}}</h1>
    {{analayzed_text5}}

</p>
</body>
</html>